form > div {
	display: flex;
	flex-flow: column wrap;
	width: max(50%, 250px);
	padding-right: 10vw;
}

form {
	display: flex;
	flex-flow: row wrap;
	gap: 20px 0px;
}

input {
	border: none;
	border: 1px solid lightgrey;
	height: 30px;
	border-radius: 5px;
	padding: 0 0 0 8px;
}

input:hover {
	border: none;
	border: 1px solid lightgreen;
	box-shadow: 1px 1px 5px lightgrey;
}

label {
	color: mediumblue;
	opacity: 0.5;
	font-size: 0.65rem;
	font-weight: 550;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 1px;
}

input:focus {
	border: 0px;
}

form > p {
	width: 100%;
}

form > p > span {
	color: darkgreen;
	font-weight: bold;
}

form > p > span:hover {
	cursor:pointer;
}

button {
	border: none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: var(--main-button-color);
	padding: 12px 40px;
	background-color: darkgreen;
	text-align: center;
}

form > p:first-child {
	font-weight: bold;
	font-size: 1.1rem;
}

button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px lightgrey;
}

button:active {
	position: relative;
	top: 1px;
}

input:valid {
	border: 2px solid lightgreen;
	background: url("icons8-done.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 98% 2px;
}

input[type="password"]:invalid {
	border: 1px solid red;
}

