@font-face {
	font-family: FiraCodeMedium;
	src: url('../fonts/Fira Code Medium Nerd Font Complete Mono.ttf');
}

* {
	padding: 0px;
	margin: 0px;
	font-family: 'FiraCodeMedium';
	box-sizing: border-box;
}

html {
	background-image: url('../img/arch_scene.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
}

::selection {
	background: snow;
}

header {
	display: grid;
	grid-template: 51px 1fr / 1fr;
	position: sticky;
	top: 0;
}

li::selection {
	background: snow;
}

header > div {
  height: 50px;
  background: white;
}

header > nav > ul {
	display: flex;
	justify-content: end;
}
li {
	margin: 10px;
	padding: 5px;
	list-style:none;
	text-justify: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
	transition-property: border;
	transition-duration: 0.3s;
}
li:hover {
	border-top: 1px solid darkgoldenrod;
	border-bottom: 1px solid darkgoldenrod;
}
li:focus {
	color: darkgoldenrod;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr
}

.deleteProjectTabButton {
  padding: 10px;
  color: black;
  background-color: transparent;
  border: none;
  align-self: center;
  margin-left: 20px;
}

.deleteProjectTabButton::after {
  content: " ";
}

.hero {
	display: grid;
	grid-template: 1fr / 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
}

.hero > h1 {
	padding: clamp(10px, 10%, 50px) clamp(10px, 10%, 50px) 260px clamp(10px, 10%, 50px);
	margin-left: 25px;
	background-color: RGBA(255, 250, 250, 0.15);
}

.hero-text {
	width: clamp(100px, 60%, 500px);
	text-align:center;
}

.tile-content {
	margin-left: 100px;
	margin-right: 100px;
	grid-column-start: 2;
	display: grid;
	gap: 50px;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.main-content-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin-bottom: 40px;
}

.lnBreak {
	height: 1rem;
}

.addButton {
  display: flex;
  align-items: center;
  padding: 20px;
  order: 2;
  background-color: lightgrey;
  border: 1px solid aquamarine;
  border-radius: 20px;

}

.addButton::before {
  content: "";
}

.addTodoButton {
  grid-column-start: 3;
  align-self: end;
  justify-self: end;
  position: sticky;
  bottom: 0;
  right: 0;
}

.projectTabs {
  display: flex;
}

span {
	background-color: snow;
}
span::selection {
	background-color: darkgoldenrod;
	color: black;
}

.contactInfo {
	grid-column-start: 2;
	text-align: center;
}

.tab {
  display: flex;
  padding: 0 0 0 24px ;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}


form > div {
	display: flex;
	flex-flow: column wrap;
	width: max(50%, 250px);
	padding-right: 10vw;
}

form {
	display: flex;
	flex-flow: column wrap;
	gap: 20px 0px;
  width: 400px;
}

input {
	border: none;
	border: 1px solid lightgrey;
	height: 30px;
	border-radius: 5px;
	padding: 0 0 0 8px;
}

input:hover {
	border: none;
	border: 1px solid lightgreen;
	box-shadow: 1px 1px 5px lightgrey;
}

label {
	color: mediumblue;
	opacity: 0.5;
	font-size: 0.65rem;
	font-weight: 550;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 1px;
}

input:focus {
	border: 0px;
}

form > p {
	width: 100%;
}

form > p > span {
	color: darkgreen;
	font-weight: bold;
}

form > p > span:hover {
	cursor:pointer;
}

button {
	border: none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	color: var(--main-button-color);
	padding: 12px 40px;
	background-color: darkgreen;
	text-align: center;
}

form > p:first-child {
	font-weight: bold;
	font-size: 1.1rem;
}

button:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px lightgrey;
}

button:active {
	position: relative;
	top: 1px;
}

input:valid {
	border: 2px solid lightgreen;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 98% 2px;
}

input[type="password"]:invalid {
	border: 1px solid red;
}


@media screen and (min-width: 1200px) {
.tile-content {
	grid-template-columns: repeat(3, minmax(100px, 1fr));
}
}


